
.table{
    text-align: center;
    background-image: url(/assets/Hero-bg.png);
    padding: 26px 221px 44px 221px;
    gap: 30px;
    width: 1440px;
    height: 652px;
}
.table .image{
       
    margin-top: 20px 0;
     
}
.table .tag{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0;
}
.table .tag-p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0;
    opacity: 0.7;
}
.table .btn{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    padding: 21px 24px 21px 24px;
    margin: 32px 0;

    background: rgb(13, 19, 33);
}
.video{
    color: rgb(13, 19, 33);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    text-align: center;
    margin: 24px 0;


}
.video .video-tag{
    color: rgb(13, 19, 33);
    margin: 24px o;

}
.video .video-p{
    color: rgb(13, 19, 33);

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.video .video-img{
    margin: 10px  0;
    border-radius: 16px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);


}
.skill{
    text-align: center;
}
.skill-container{
    display: flex;
    justify-content: space-evenly;
    gap: 0;
}
.web{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;

}
.web-dev{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    order: 1;
    align-self: stretch;
    margin: 48px 0px;
}
.web-dev .first{
    position: static;
    width: 850px;
    height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 32px 0px 32px 500px;
}
.web-dev .first .h3{  
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.web-dev .first .p{

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.web-dev .b{
    position: static;
    width: 150px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px 12px 20px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 32px 0px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;

}

.web-dev .first .tiitle{
    display: flex;
    flex-direction: column;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.web-dev .last{
    display: flex;
    position: static;
    width: 850px;
    height: 240px;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 32px 0px 32px 500px;

}
